@charset "UTF-8";
/*--main--*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
base
--------------------------------------------------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway'; }

html {
  font-size: 9px; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
base
--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
BACKGROUND Y PATTERN
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.bkgA {
  background-color: #ffe600; }

.bkgB {
  background-color: black; }

.patternBlanco {
  background-image: url(images/pattern.jpg); }

.patternNegro {
  background-image: url(/images/pattern2.jpg); }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
BACKGROUND Y PATTERN
--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
LOGOTIPOS
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.logoP {
  height: 10rem;
  max-height: 40%;
  margin: 0;
  margin: 2em; }

.logoG {
  height: 15rem;
  max-height: 60%;
  width: auto;
  padding: 2em;
  margin: 20px; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
LOGOTIPOS
--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------ texto y titulos -----*/
/*------ texto y titulos -----*/
/*------------------------------------------------------------------------------------------------------------------------------------------------
banner
------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--banner--*/
.bannerUno {
  display: none; }

.bannerDos {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-shadow: 0px 10px 32px -14px rgba(0, 0, 0, 0.99);
  background-image: url(../images/fondo2.jpg); }

.bannerTres {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-shadow: 0px 10px 32px -14px rgba(0, 0, 0, 0.99);
  background-image: url(../images/fondo3.jpg); }

.bannerCuatro {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-shadow: 0px 10px 32px -14px rgba(0, 0, 0, 0.99);
  background-image: url(../images/fondo4.jpg); }

.bannerCinco {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-shadow: 0px 10px 32px -14px rgba(0, 0, 0, 0.99);
  background-image: url(../images/fondo5.jpg); }

/*--banner--*/
/*--menu de navegacion--*/
.navbar {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  z-index: 100; }
  .navbar__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: -100vh;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .8s;
    overflow: hidden; }
  .navbar__item {
    list-style: none;
    margin: 2em 0; }
  .navbar__link {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 3rem;
    color: yellow;
    padding: 0.5em;
    letter-spacing: .5em;
    position: relative;
    display: block; }
    .navbar__link:hover {
      color: white; }
    .navbar__link::after {
      content: '';
      height: 3px;
      width: 0%;
      background: white;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: 0.5s; }
    .navbar__link:hover::after {
      width: 100%; }
  .navbar__link--active {
    color: white;
    pointer-events: none;
    cursor: default; }
  .navbar__closeIcon {
    font-size: 2.5rem;
    cursor: pointer;
    color: yellow;
    padding: 0.5em; }
    .navbar__closeIcon:hover {
      color: black;
      background-color: yellow;
      padding: 0.5em;
      border-radius: 5px; }
  .navbar .openIcon {
    font-size: 25px;
    color: yellow;
    cursor: pointer;
    padding: 1.2em;
    transition: 0.3s; }
    .navbar .openIcon:hover {
      color: white;
      padding: 1.2em; }

/*--menu de navegacion--*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
contenedores
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.Fila100 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden; }

.Fila100reverse {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  flex-direction: row-reverse; }

.col30 {
  display: flex;
  height: auto;
  width: 100%;
  flex: 30%;
  flex-wrap: wrap;
  justify-content: center; }

.col50 {
  display: flex;
  flex: 50%;
  text-align: center;
  justify-content: center; }

.col80 {
  display: flex;
  height: auto;
  width: 80%;
  flex-direction: column;
  margin-bottom: 2em auto;
  align-items: center;
  justify-content: center; }

.col100 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column; }

.imgCont {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin: 0;
  padding: 0; }

.box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center; }

.grid {
  display: grid;
  height: 100vh;
  width: 100%;
  align-items: center; }

.imagenRes {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  object-fit: cover; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
contenedores
--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*------TITULOS------*/
.tituloH1 {
  font-size: 7rem;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

.tituloH2Blanco {
  font-size: 6rem;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

/*------TITULOS------*/
/*------SUBTITULOS------*/
.subTituloA {
  font-size: 5rem;
  color: #ffe600;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

.subTituloB {
  font-size: 4rem;
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

.subTituloC {
  font-size: 3rem;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

.subtituloD {
  font-size: 3rem;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

/*------SUBTITULOS------*/
/*------PARRAFOS------*/
.parrafoB {
  font-family: 'Raleway';
  font-size: 2rem;
  padding: 0.5em;
  text-align: justify;
  margin: 2em 3em;
  color: white; }

.parrafoN {
  font-family: 'Raleway';
  font-size: 2rem;
  padding: 0.5em;
  text-align: justify;
  margin: 2em 3em;
  color: black; }

/*------PARRAFOS------*/
.subTituloBanner {
  font-size: 4rem;
  color: #ffe600;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

.titulo1 {
  font-size: 6rem;
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
  text-align: center;
  padding: 0.5em; }

.iconos {
  color: #ffe600; }

/*------ texto y titulos -----*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
carusel
--------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
  height: 100vh;
  width: 100%; }

.imgCar {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  overflow: hidden; }

.carouselP {
  height: auto;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  left: 0;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 10px 32px -14px rgba(0, 0, 0, 0.99); }

.carouselTexto {
  height: auto;
  width: auto;
  position: absolute;
  top: 30%;
  bottom: 30%;
  left: 15%;
  right: 15%;
  padding-top: 1em;
  padding-bottom: 0.2em;
  color: yellow;
  text-align: center; }

.bgImagen {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%; }

.mascara {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed backdrop-filter blur(1px);
  background-color: rgba(0, 0, 0, 0.75); }

/*--Tamaño Pequeño - Celulares--*/
@media screen and (max-width: 724px) {
  #carouselT {
    display: none; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
carusel
--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
botones
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.btn__A {
  color: #ffe600;
  border: #ffe600 solid 0.2rem;
  width: 25rem;
  height: 5rem;
  padding: 0, 1em;
  margin: 0.5em;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s ease all;
  cursor: pointer;
  font-size: 2em;
  font-family: 'Montserrat';
  font-weight: 600; }
  .btn__A__txt {
    padding-left: 1em; }
  .btn__A__icono {
    padding: 1em;
    font-size: 2rem; }
  .btn__A:hover {
    background: #ffe600;
    color: black;
    border: black solid 2px; }

.btn__A--N {
  color: black;
  border: black solid 0.2rem;
  width: 25rem;
  height: 5rem;
  padding: 0, 1em;
  margin: 0.5em;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s ease all;
  cursor: pointer;
  font-size: 2em;
  font-family: 'Montserrat';
  font-weight: 600; }
  .btn__A--N__txt {
    padding-left: 1em; }
  .btn__A--N__icono {
    padding: 1em;
    font-size: 2rem; }
  .btn__A--N:hover {
    background: black;
    color: #ffe600;
    border: #ffe600 solid 2px; }

.btn__A--C {
  color: #ffe600;
  border: #ffe600 solid 0.2rem;
  width: 25rem;
  height: 5rem;
  padding: 0, 1em;
  margin: 0.5em;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s ease all;
  cursor: pointer;
  font-size: 2em;
  font-family: 'Montserrat';
  font-weight: 600;
  background-color: black; }
  .btn__A--C__txt {
    padding-left: 1em; }
  .btn__A--C__icono {
    padding: 1em;
    font-size: 2rem; }
  .btn__A--C:hover {
    background: #ffe600;
    color: black;
    border: black solid 2px; }

/*---redes sociales--*/
.social {
  height: auto;
  display: flex;
  padding: 0.5em; }
  .social__btn {
    text-decoration: none;
    height: 4.5rem;
    width: 4.5rem;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    color: #ffe600;
    cursor: pointer;
    transition: 0.3s;
    margin: 1em; }
    .social__btn:hover {
      color: black; }
  .social__icon {
    background-color: black;
    text-align: center;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    border: solid 2px #ffe600; }
    .social__icon:hover {
      background-color: #ffe600; }

/*---redes sociales--*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
botones
--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-- media querys--*/
/*--Tamaño mediano - tablets--*/
@media screen and (max-width: 992px) {
  html {
    font-size: 42%; }
  .Fila100reverse {
    flex-direction: row-reverse;
    overflow: hidden; }
  .imgCont {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover; }
  .col50 {
    display: flex;
    flex: 100%;
    text-align: center; }
  .box {
    flex-direction: column;
    display: flex;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center; } }

/*--Tamaño Pequeño mediano - Celulares tablets pequeñas--*/
@media screen and (max-width: 724px) {
  .bannerUno {
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-image: url(../images/C3.jpg);
    justify-content: center;
    align-items: center; }
  .tarjeta {
    flex: 80%; } }

/*--Tamaño Pequeño - Celulares--*/
@media screen and (max-width: 576px) {
  html {
    font-size: 30%; }
  .tarjeta {
    flex: 100%; }
  .imgCont {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover; }
  .col50 {
    display: flex;
    flex: 100%;
    text-align: center;
    justify-content: center; }
  .box {
    height: 50vh;
    width: 100vw; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
cards
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.trb {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: black;
  background-clip: border-box;
  border-radius: 20px;
  transition: 0.3s ease all; }

.trb__img {
  width: 100%;
  border-radius: 20px;
  max-width: 100%;
  padding: 10px; }

.trb__body {
  text-align: center;
  padding: 20px; }

.trb__titulo {
  color: #ffe600;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900; }

.trb__text {
  color: white; }

.trb:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25); }

/*--team cards--*/
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }

.team {
  display: flex;
  width: 100vw;
  justify-content: space-around; }

.team__profile {
  margin: 20px;
  width: 300px;
  height: 300px;
  padding: 25px;
  background: black;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: .3s ease-out;
  justify-content: center;
  border-radius: 20px;
  border: black solid 3px; }

.team__profile:hover {
  transform: translateY(10px);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.8); }

.team__profile:hover:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  opacity: 0.8;
  transition: 0.3s ease-in;
  border-radius: 20px; }

.team__profile:hover .team__txt {
  opacity: 1;
  transform: translateY(0); }

.team__foto {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px; }

.team__txt {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.2s ease-in;
  text-align: center; }

.team__name {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal; }

.team__role {
  font-size: 20px;
  color: yellow; }

.team__social {
  color: yellow;
  padding: 10px;
  margin: 5px;
  border: yellow solid 1px;
  border-radius: 10px; }

.team__social:hover {
  color: black;
  border: black solid 1px;
  background: yellow; }

/*--team cards--*/
/*---------------------------------------------------------------------------------------------------------------------------------------------------
cards
--------------------------------------------------------------------------------------------------------------------------------------------------*/
.tarjeta {
  display: flex;
  height: auto;
  width: 25%;
  background-color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em;
  border-radius: 10%;
  transition: 0.3s; }
  .tarjeta:hover {
    transform: scale(1.05); }

.imagen {
  width: 100%;
  border-radius: 10%;
  max-width: 100%;
  padding: 1em; }

.prueba {
  height: auto;
  width: 100%;
  overflow: hidden;
  object-position: center;
  margin: 0;
  padding: 0; }

.contacto {
  height: auto;
  display: grid;
  align-items: center; }
  .contacto__contenedor {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 10px 32px -14px rgba(0, 0, 0, 0.99);
    margin-top: 4em;
    margin-bottom: 4em; }
  .contacto__s1 {
    flex: 30%;
    background-image: url(../images/f1.jpg);
    opacity: 1;
    background-size: cover;
    padding: 4em 3em; }
  .contacto__s2 {
    flex: 40%;
    background-color: black;
    padding: 4em 3em; }
  .contacto__forma {
    width: 100%;
    height: auto; }
  .contacto__input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid white;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #ffe600; }
    .contacto__input::placeholder {
      color: #ffe600;
      font-size: 2rem; }
  .contacto__areatxt {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #ffe600;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: white;
    color: black;
    font-size: 2rem;
    font-weight: 300; }
    .contacto__areatxt::placeholder {
      color: black; }
  .contacto__s3 {
    flex: 30%;
    padding: 0; }
  .contacto__s3 iframe {
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 480px) {
  .contacto__s1 {
    flex: 50%; }
  .contacto__s2 {
    flex: 50%; }
  .contacto__s3 {
    flex: 100%; } }

@media only screen and (max-width: 360px) {
  .contacto__contenedor {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0; }
  .contacto__s1 {
    flex: 50%; }
  .contacto__s2 {
    flex: 50%; }
  .contacto__s3 {
    flex: 100%;
    margin-bottom: 1em; } }

/*--galeria--*/
.columna {
  flex: 25%;
  padding: 1em; }

.gImg {
  width: 100%;
  margin-top: 1em;
  flex: 25%;
  transition: 0.3s ease; }
  .gImg:hover {
    transform: scale(0.9); }

.copy {
  font-size: 1rem;
  color: yellow; }

#modalGaleria .modal-img {
  width: 90%;
  background-color: black; }

.modal-body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media screen and (max-width: 992px) {
  .columna {
    flex: 50%;
    padding: 0.5em; } }

/*--Tamaño Pequeño - Celulares--*/
@media screen and (max-width: 576px) {
  .columna {
    flex: 100%;
    padding: 0.5em; } }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
footer
-----------------------------------------------------------------------------------------------------------------------------------------*/
footer {
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }

.logoF {
  height: 7rem;
  margin: 3em auto; }

.linea {
  color: #ffe600;
  border: 0.2rem solid #ffe600;
  width: 90%;
  margin: 2em 0; }

.copyright {
  width: 90%;
  height: auto;
  margin: 2em auto 1em auto;
  padding: 1em 1em;
  text-align: center;
  color: darkgray;
  font-size: 1.9rem; }

/*---------------------------------------------------------------------------------------------------------------------------------------------------
footer
-----------------------------------------------------------------------------------------------------------------------------------------*/
/*--main--*/
