/*------------------------------------------------------------------------------------------------------------------------------------------------
banner
------------------------------------------------------------------------------------------------------------------------------------------------*/

/*--banner--*/

@mixin bannerPagina {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $colorSecundario;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  box-shadow: $sombra;
}

.bannerUno{
  display: none;
}

.bannerDos {
  @include bannerPagina;
  background-image: url(../images/fondo2.jpg);
}


.bannerTres {
  @include bannerPagina;
  background-image: url(../images/fondo3.jpg);
}

.bannerCuatro {
  @include bannerPagina;
  background-image: url(../images/fondo4.jpg);
}


.bannerCinco {
  @include bannerPagina;
  background-image: url(../images/fondo5.jpg);
}



/*--banner--*/
