/*---------------------------------------------------------------------------------------------------------------------------------------------------
banner
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.bannerUno{
  display: none;
  background-image: url(../images/c3.jpg);
}

.bannerDos {
  @include bannerPagina;
  background-image: url(../images/fondo2.jpg);
}


.bannerTres {
  @include bannerPagina;
  background-image: url(../images/fondo3.jpg);
}

.bannerCuatro {
  @include bannerPagina;
  background-image: url(../images/fondo4.jpg);
}


.bannerCinco {
  @include bannerPagina;
  background-image: url(../images/fondo5.jpg);
}

.mascara {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-attachment: fixed backdrop-filter blur(1px);
  background-color: $transparencia;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------
banner
--------------------------------------------------------------------------------------------------------------------------------------------------*/

