/*---------------------------------------------------------------------------------------------------------------------------------------------------
base
--------------------------------------------------------------------------------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Raleway';
}

html {
    font-size: 9px;
}

// variables

$colorPrimario: #ffe600;
$colorSecundario: black;
$colorTerciario: white;
$colorVariante: darkgray;
$sombra: 0px 10px 32px -14px rgba(0, 0, 0, 0.99);
$transparencia:rgba(0, 0, 0, 0.75);




/*---------------------------------------------------------------------------------------------------------------------------------------------------
base
--------------------------------------------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------------------------------------------
BACKGROUND Y PATTERN
--------------------------------------------------------------------------------------------------------------------------------------------------*/



.bkgA {
    background-color: $colorPrimario;
}

.bkgB {
    background-color: black;
}

.patternBlanco {
    background-image: url(images/pattern.jpg);
}

.patternNegro {
    background-image: url(/images/pattern2.jpg);
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------
BACKGROUND Y PATTERN
--------------------------------------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------------------------------------------------------
LOGOTIPOS
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.logoP {
    height: 10rem;
    max-height: 40%;
    margin: 0;
    margin: 2em;
}


.logoG {
    height: 15rem;
    max-height: 60%;
    width: auto;
    padding: 2em;
    margin: 20px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------------
LOGOTIPOS
--------------------------------------------------------------------------------------------------------------------------------------------------*/