/*---------------------------------------------------------------------------------------------------------------------------------------------------
cards
--------------------------------------------------------------------------------------------------------------------------------------------------*/

.tarjeta {
  display: flex;
  height: auto;
  width: 40%;
  background-color: $colorSecundario;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  border-radius: 10%;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.imagen {
  width: 100%;
  border-radius: 10%;
  max-width: 100%;
  padding: 2em;
}

.trb {
  width: 100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: $colorSecundario;
  background-clip: border-box;
  border-radius: 20px;
  transition: 0.3s ease all;
}

.trb__img {
  width: 100%;
  border-radius: 20px;
  max-width: 100%;
  padding: 10px;
}

.trb__body {
  text-align: center;
  padding: 20px;
}

.trb__titulo {
  color: $colorPrimario;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
}

.trb__text {
  color: $colorTerciario;
}

.trb:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

/*--team cards--*/

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.team {
  margin: 4rem;
  width: 300px;
  height: 300px;
  padding: 25px;
  background: $colorSecundario;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: .3s ease-out;
  justify-content: center;
  border-radius: 2rem;
  border: $colorSecundario solid 3px;

  &:hover {
    transform: translateY(10px);
    box-shadow: $sombra;
  }

  &:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $colorSecundario;
    z-index: 1;
    opacity: 0.8;
    transition: 0.3s ease-in;
    border-radius: 2rem;
  }

  &:hover .team__txt {
    opacity: 1;
    transform: translateY(0);
  }

  &__foto {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    border-radius: 2rem;
    padding: 1rem;
  }

  &__txt {
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.2s ease-in;
    text-align: center;
  }

  &__name {
    font-size: 3rem;
    color: $colorTerciario;
    font-weight: bold;
    text-transform: uppercase;
    font-style: normal;
  }

  &__role {
    font-size: 2rem;
    color: $colorPrimario;
  }
}

/*--team cards--*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------
cards
--------------------------------------------------------------------------------------------------------------------------------------------------*/
