.contenedorContacto {
    height: 100vh;
    display: grid;
    align-items: center;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 4em 3em;
}

.contact-in:nth-child(1) {
    flex: 30%;
    background-image: url(/images/r1.jpg);
    background-size: cover;
    color: yellow   ;
}

.contact-in:nth-child(2) {
    flex: 45%;
    background-color: black;
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.tituloForma{
    font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 20px;
}

.subtituloForma{
    font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.textoForma{
    font-size: 14px;
	font-weight: 300;
	margin-bottom: 20px;
}

.iconosForma{

}