.contacto{
    height: auto;
    display: grid;
    align-items: center;

	&__contenedor{
		width: 80%;
		height: auto;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0px 10px 32px -14px rgba(0, 0, 0, 0.99);
		margin-top: 4em;
		margin-bottom: 4em;
	}
	
	&__s1 {
		flex: 30%;
		background-image: url(/images/f1.jpg);
		opacity: 1;
		background-size: cover;
		padding: 4em 3em;
	}
	
	&__s2 {
		flex: 40%;
		background-color: black;
		padding: 4em 3em;
	
	}
	
	&__s3 {
		flex: 30%;
		padding: 0;
	}

	&__forma {
		width: 100%;
		height: auto;
	}

	
}








.contact-in-input {
	width: 100%;
	height: 40px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-left: 5px;
	background: transparent;
	color: $colorPrimario;
}

.contact-in-input::placeholder {
	color: $colorPrimario;
}

.contact-in-textarea {
	width: 100%;
	height: 140px;
	margin-bottom: 20px;
	border: 1px solid #fff;
	outline: none;
	padding-top: 5px;
	padding-left: 5px;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 300;
	font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
	color: $colorPrimario;
}

.contacto__s3 iframe {
	width: 100%;
	height: 100%;
}


@media only screen and (max-width:480px) {
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
	}

}

@media only screen and (max-width:360px) {
	.contact-wrap {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}
	.contact-in:nth-child(1) {
		flex: 50%;
	}

	.contact-in:nth-child(2) {
		flex: 50%;
	}

	.contact-in:nth-child(3) {
		flex: 100%;
		margin-bottom: 1em;
	}

}
