/*---------------------------------------------------------------------------------------------------------------------------------------------------
footer
-----------------------------------------------------------------------------------------------------------------------------------------*/

footer {
    background-color: black;
    height: 60vh;
    width: 100%;
    color: yellow;
    position: absolute;
    margin: 0;
  }
  
  footer .fab {
    color: yellow;
  }
  
  footer .copyright {
    margin-bottom: 20px;
  }

  
  /*---------------------------------------------------------------------------------------------------------------------------------------------------
footer
-----------------------------------------------------------------------------------------------------------------------------------------*/