/*--galeria--*/



.fila {
    display: flex;
    padding: 0.5em;
    flex-wrap: wrap;
}

.columna {
    flex: 30%;
    padding: 0.5em;
}

.gImg {
    width: 100%;
    margin-top: 0.5em;
    flex: 25%;
    transition: 0.3s ease;
}

.gImg:hover{
    transform: scale(0.9);
}

.copy {
    font-size: 1rem;
    color: yellow;
}

#modalGaleria .modal-img {
    width: 80%;
    background-color: black;

}

.modal-body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 992px) {
    
    .columna {
        .gImg {
            height: auto;
            width: 100%;
            margin-top: 0.5em;
            flex: 25%;
        }
        
        flex: 50%;
        padding: 0.5em;
    }

}

/*--Tamaño Pequeño - Celulares--*/

@media screen and (max-width: 576px) {

    .columna {
        flex: 100%;
        padding: 0.5em;
    }

}