/*------mixings texto y titulos -----*/

@mixin titulo ($size, $color, ) {
    font-size: $size;
    color: $color;
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    padding: 0.4em;
}

@mixin parrafo ($colorTxt) {
    font-family: 'Raleway';
    font-size: 2rem;
    padding: 0.5em;
    text-align: justify;
    margin: 1.5em 3em;
    color: $colorTxt;
}

/*------mixings texto y titulos -----*/

/*--mixings banner--*/

@mixin bannerPagina {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: $colorSecundario;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    box-shadow: $sombra;
}

/*--mixings banner--*/
