/*---------------------------------------------------------------------------------------------------------------------------------------------------
TEXTOS Y TITULOS
--------------------------------------------------------------------------------------------------------------------------------------------------*/

/*------TITULOS------*/

.tituloH1 {
    @include titulo (7rem, $colorTerciario);
}

.tituloH2Blanco {
    @include titulo (6rem, $colorTerciario);
}


/*------TITULOS------*/

/*------SUBTITULOS------*/
.subTituloA {
    @include titulo (5rem, $colorPrimario);
}

.subTituloB {
    @include titulo (4rem, $colorSecundario);
}

.subTituloC {
    @include titulo (3rem, $colorTerciario);

}

.subtituloD {
    @include titulo (2rem, $colorTerciario);
}

.left{
    text-align: left;
}

/*------SUBTITULOS------*/


/*------PARRAFOS------*/

.parrafoB {
    @include parrafo($colorTerciario);
}

.parrafoN {
    @include parrafo($colorSecundario);
}


/*------PARRAFOS------*/

.subTituloBanner {
    @include titulo (4rem, $colorPrimario);
}

.titulo1 {
    @include titulo (6rem, $colorSecundario);
}

.iconos {
    color: $colorPrimario;
    font-size: 3rem;
   
}
.iconosB {
    color: $colorSecundario;
    font-size: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------------
TEXTOS Y TITULOS
--------------------------------------------------------------------------------------------------------------------------------------------------*/
